name: Dio

on:
  push:
    branches:
      - main
      - develop*
  pull_request:
    branches:
      - main
      - develop*

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: dio
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      - run: pub get
      - run: dart analyze

  format:
    name: Check formatting
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: dio
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      - run: dart format --set-exit-if-changed .

  tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk: [ stable, beta, 2.12.1 ]
        platform: [ vm, chrome ]
    defaults:
      run:
        working-directory: dio
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}
      - run: pub get
      - run: dart test --chain-stack-traces --platform=${{ matrix.platform }}
      - name: Upload test report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: test-results-${{ matrix.sdk }}-${{ matrix.platform }}
          path: dio/build/reports/test-results.json

  publish-dry-run:
    name: Publish dry-run
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: dio
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      - run: pub get
      - run: pub publish --dry-run
