name: Cookie Manager

on:
  push:
    branches:
      - main
      - develop*
  pull_request:
    branches:
      - main
      - develop*

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: plugins/cookie_manager
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      - run: pub get
      - run: dart analyze

  format:
    name: Check formatting
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: plugins/cookie_manager
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      - run: dart format --set-exit-if-changed .

  tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk: [ stable, beta, 2.12.1 ]
    defaults:
      run:
        working-directory: plugins/cookie_manager
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}
      - run: pub get
      - run: dart test --chain-stack-traces
      - name: Upload test report
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: test-results-${{ matrix.sdk }}
          path: plugins/cookie_manager/build/reports/test-results.json
